<!-- Footer -->
<footer class="bg-teal text-light pt-2 pb-3 mt-5">
  <div class="container bg-teal text-center">
    <!--<div class="mb-4">
      <img src="assets/movieImages/logo1.png" height="30" alt="CineBook Logo">
    </div>

    <hr class="border-secondary">

    <div class="row text-center justify-content-center">
      <div class="col-md-3 mb-2"><a href="#" class="text-secondary text-decoration-none">FAQs</a></div>
      <div class="col-md-3 mb-2"><a href="#" class="text-secondary text-decoration-none">Careers</a></div>
      <div class="col-md-3 mb-2"><a href="#" class="text-secondary text-decoration-none">Contact Us</a></div>
      <div class="col-md-3 mb-2"><a href="#" class="text-secondary text-decoration-none">Privacy Policy</a></div>
    </div>-->

    <p class="text-light small mb-0">
      &copy; 2025 CineBook Entertainment Pvt. Ltd. All Rights Reserved. <br>
      The content and images used on this site are copyright protected and vest with the respective owners.
    </p>
  </div>
</footer>
